{% extends 'components/base.html' %}

{% block content %}
<div id="quote" class="block card">
    <div class="card-content">
        <p class="title">[[ quote.quote ]]</p>
        <p class="subtitle">[[ quote.author ]]</p>
    </div>

    <footer class="card-footer">
        <div class="card-footer-item">
            <a @click="like">
                <b-icon pack="fas" icon="thumbs-up" class="icon-social icon-thumbs-up" type="is-grey"
                        size="is-large"></b-icon>
                <span>[[ quote.likes ]]</span>
            </a>
        </div>

        <div class="card-footer-item">
            <a @click="dislike">
                <b-icon pack="fas" icon="thumbs-down" class="icon-social icon-thumbs-down" type="is-grey"
                        size="is-large"></b-icon>
                <span>[[ quote.dislikes ]]</span>
            </a>
        </div>

        <div class="card-footer-item">
            <div class="buttons">
                <b-button
                        label="Share"
                        type="is-info"
                        icon-left="share"
                        @click="isShareCardModalActive = true"></b-button>
            </div>
        </div>

        <b-modal v-model="isShareCardModalActive" :width="255" scroll="keep">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a :href="[[ shareLinks.facebook ]]" target="_blank">
                            <b-icon pack="fab" icon="facebook-square" class="icon-social icon-facebook" type="is-grey"
                                    size="is-large"></b-icon>
                        </a>
                        <a :href="[[ shareLinks.twitter ]]" target="_blank">
                            <b-icon pack="fab" icon="twitter-square" class="icon-social icon-twitter" type="is-grey"
                                    size="is-large"></b-icon>
                        </a>
                        <a :href="[[ shareLinks.linkedin ]]" target="_blank">
                            <b-icon pack="fab" icon="linkedin" class="icon-social icon-linkedin" type="is-grey"
                                    size="is-large"></b-icon>
                        </a>
                        <a :href="[[ shareLinks.email ]]" target="_blank">
                            <b-icon pack="fas" icon="at" class="icon-social icon-email" type="is-grey"
                                    size="is-large"></b-icon>
                        </a>
                    </div>
                </div>
            </div>
        </b-modal>
    </footer>
</div>

<div class="block buttons is-centered">
    <b-button type="is-primary" @click="getRandomQuote">New quote</b-button>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        defaultContainerElement: '#app',
        defaultIconPack: 'fas',
        defaultIconComponent: 'vue-fontawesome',
        delimiters: ['[[', ']]'],
        created(){
            this.getRandomQuote()
            this.checkDarkMode()
        },
        data: function() {
            return {
                baseUrl: 'http://0.0.0.0:8080/',
                darkMode: false,
                isShareCardModalActive: false,
                quote: {
                    author:     '',
                    quote_id:   '',
                    quote:      '',
                    permalink:  '',
                    likes:      '',
                    dislikes:   '',
                },
            }
        },
        computed: {
            encodedData() {
                return {
                    url:        encodeURIComponent(this.quote.permalink),
                    quote:      encodeURIComponent('"' + this.quote.quote + '"'),
                    subject:    encodeURIComponent('I found this cool quote you might like.'),
                }
            },
            shareLinks() {
                return {
                    facebook:   'https://www.facebook.com/sharer.php?u=' + this.encodedData.url,
                    twitter:    'https://twitter.com/share?text=' + this.encodedData.quote + '&url=' + this.encodedData.url,
                    <!--linkedin:   'https://www.linkedin.com/shareArticle?mini=true&summary=test&title=titel&url=' + this.encodedData.url,-->
                    linkedin:   'https://www.linkedin.com/sharing/share-offsite/?url=' + this.encodedData.url,
                    email:      'mailto:?subject=' + this.encodedData.subject + '&body=Quote: ' + this.encodedData.quote + '%0D%0A%0D%0ALink: ' + this.encodedData.url,
                }
            },
        },
        methods: {
            getRandomQuote() {
                axios.get(this.baseUrl + 'get_random_quote').then(response => {
                    this.quote = response.data;
                });
            },
            like() {
                axios.get(
                    this.baseUrl + 'like_quote', {params: {quote_id: this.quote.quote_id}}
                ).then(response => {
                    this.quote = response.data;
                });
            },
            dislike() {
                axios.get(
                    this.baseUrl + 'like_quote', {params: {quote_id: this.quote.quote_id, decrease: true}}
                ).then(response => {
                    this.quote = response.data;
                });
            },
            setDarkMode(val) {
                this.$cookies.set('darkMode', val);
            },
            checkDarkMode() {
                isDarkMode = this.$cookies.get('darkMode') ?? 'false';

                switch(isDarkMode.toLowerCase().trim()){
                    case "true": case "yes": case "1": this.darkMode = true; break;
                    case "false": case "no": case "0": case null: this.darkMode = false; break;
                    default: this.darkMode = Boolean(isDarkMode);
                }
            },
        },
    });
</script>
{% endblock %}
