#app {
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
}
#app.dark-mode {
  background-color: #1d3557;
}
#app.dark-mode a {
  color: #cdb4db;
}
#app.dark-mode a:hover {
  color: #7957d5;
}
#app.dark-mode p {
  color: white;
}
#app.dark-mode strong {
  color: white;
}
#app.dark-mode .card {
  background-color: #1d3557;
}
#app.dark-mode .card p {
  color: white;
}
#app.dark-mode .card footer.card-footer {
  border-color: #264653;
}
#app.dark-mode .card footer.card-footer .card-footer-item {
  border-color: #264653;
}
#app.dark-mode .button.is-light {
  color: white;
  background-color: #264653;
}
#app.dark-mode .button.is-light:hover {
  background-color: #23404c;
}

#app section#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
}
#app.dark-mode footer.footer {
  background-color: #264653;
}

#app.dark-mode {
  color: white;
}
#app.dark-mode nav.navbar {
  background-color: #1d3557;
}
#app.dark-mode nav.navbar .navbar-item {
  color: white !important;
}
#app.dark-mode nav.navbar a.navbar-item:hover {
  background-color: #23404c;
}
#app.dark-mode nav.navbar a.navbar-item:focus, #app.dark-mode nav.navbar a.navbar-item:focus-within {
  background-color: initial;
}

a > span.icon.icon-social {
  transition: color 0.3s ease-in;
}

#app.dark-mode span.icon.icon-social {
  color: #e6e6e6 !important;
}

#app a:hover span.icon.icon-social {
  transition: color 0.5s ease-out;
}
#app a:hover span.icon.icon-social.icon-thumbs-up {
  color: #257942 !important;
}
#app a:hover span.icon.icon-social.icon-thumbs-down {
  color: #cc0f35 !important;
}
#app a:hover span.icon.icon-social.icon-facebook {
  color: #1273ed !important;
}
#app a:hover span.icon.icon-social.icon-twitter {
  color: #009fee !important;
}
#app a:hover span.icon.icon-social.icon-linkedin {
  color: #0063be !important;
}
#app a:hover span.icon.icon-social.icon-email {
  color: orange !important;
}

#quote > .card-content {
  height: 200px;
  overflow-y: auto;
}

/*# sourceMappingURL=style.css.map */
