#app
    height: 100vh
    padding-left: 0
    padding-right: 0

    &.dark-mode
        background-color: $dark

        a
            color: $light-link

            &:hover
                color: $purple-dark

        p
            color: $white

        strong
            color: $white

        .card
            background-color: $dark

            p
                color: $white

            footer.card-footer
                border-color: $almost-dark

                .card-footer-item
                    border-color: $almost-dark

        .button.is-light
            color: $white
            background-color: $almost-dark

            &:hover
                background-color: darken($almost-dark, 2%)
