#app
    section#footer
        width: 100%
        position: fixed
        bottom: 0
        margin: 0
        padding: 0

    &.dark-mode
        footer.footer
            background-color: $almost-dark
