#app.dark-mode
    color: $white

    nav.navbar
        background-color: $dark

        .navbar-item
            color: $white !important

        a.navbar-item
            &:hover
                background-color: darken($almost-dark, 2%)

            &:focus, &:focus-within
                background-color: initial
