a>span.icon.icon-social
    transition: color .3s ease-in

#app.dark-mode
    span.icon.icon-social
        color: $light !important
#app
    a:hover span.icon.icon-social
        transition: color .5s ease-out
        &.icon-thumbs-up
            color: $color-thumbs-up-hover !important
        &.icon-thumbs-down
            color: $color-thumbs-down-hover !important
        &.icon-facebook
            color: $color-facebook !important
        &.icon-twitter
            color: $color-twitter !important
        &.icon-linkedin
            color: $color-linkedin !important
        &.icon-email
            color: $color-email !important
