<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    </head>
    <body>
        <div id="app" class="container is-fluid" v-bind:class="{ 'dark-mode': darkMode }">
            <section id="header" class="section">
                {% block header %}
                {% include 'components/header.html' %}
                {% endblock %}
            </section>
            <section id="main-content" class="section">
                {% block content %}
                {% endblock %}
            </section>
            <section id="footer" class="section-header">
                {% block footer %}
                {% include 'components/footer.html' %}
                {% endblock %}
            </section>
        </div>

        <script type="text/javascript" src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="https://unpkg.com/vue-cookies"></script>
        <script type="text/javascript" src="https://unpkg.com/buefy"></script>

        <section id="scripts">
            {% block scripts %}
            {% endblock %}
        </section>
    </body>
</html>
