<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Quote generator</strong> by <a href="http://nicovromans.be/" target="_blank">Nico Vromans</a>.
            <small>&copy; 2021</small>
        </p>
    </div>
</footer>
