<template>
    <b-navbar>
        <template #start>
            <b-navbar-item href="/">
                Home
            </b-navbar-item>
        </template>

        <template #end>
            <b-navbar-item>
                <b-field>
                    <b-switch
                            v-model="darkMode"
                            v-on:input="setDarkMode(darkMode)"
                            passive-type='is-warning'
                            type='is-dark'>
                        [[ darkMode ? "Night Mode" : "Light Mode" ]]
                    </b-switch>
                </b-field>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>
